<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <title>Jenkins job template for Drupal projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://kevinburke.bitbucket.org/markdowncss/markdown.css" rel="stylesheet"></link>
    <link href="styles/styles.css" rel="stylesheet"></link>
  </head>
  <body>
    <h1>Jenkins job template for Drupal projects</h1>
    {{ content }}

    <hr/>
    <div class="footer">
      <p>
        The <em>Jenkins job template for Drupal projects</em> is developed by <a href="http://reload.dk">Reload!</a> - a Drupal development agency located in Copenhagen, Denmark. It is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.
      </p>
      <p>
        It is based upon Sebastian Bergmans <em><a href="http://jenkins-php.org/">Template for Jenkins Jobs for PHP Projects</a></em>.
      </p>

      <a href="http://github.com/reload/jenkins-drupal-template"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
    </div>
  </body>
</html>
