pre {
  color:white;
  background:#444444;
  padding:15px;
}
pre code: { padding:0; }
code {
  color:white;
  background:#444444;
  padding:2px;
}
.footer {
  color:#666666;
  font-size:14px;
  line-height:20px;
}
